{
    "arrowParens": "avoid",
    "bracketSpacing": false,
    "singleQuote": true,
    "svelteSortOrder": "options-scripts-markup-styles",
    "trailingComma": "none",
	"useTabs": true,
	"printWidth": 100
}